@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Poppins */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}
/* Font Sora */
@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sora";
  src: url("./assets/fonts/Sora-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@layer utilities {
  .text-gradient {
    background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
}

.slide-right {
  -webkit-animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
